---
layout: shell
class: page-homepage
---

{% for post in site.posts %}
	{% if post.id == '/homepage' %}
		{{ post.content | markdownify }}
	{% endif %}
{% endfor %}

<ul class="pat-gallery">
	<li>
		<a href="/media-archive/IMG_2510.JPG"><img src="media-archive/IMG_2510.JPG" title="Makombeh"/></a>
	</li>
	<li>
		<a href="/media-archive/IMG_2567.JPG"><img src="media-archive/IMG_2567.JPG" title="Makombeh"/></a>
	</li>
	<li>
		<a href="/media-archive/IMG_2573.JPG"><img src="media-archive/IMG_2573.JPG" title="Makombeh"/></a>
	</li>
	
	<li>
		<a href="/media-archive/113.JPG"><img src="media-archive/113.JPG" title="Makombeh"/></a>
	</li>
	<li><a href="/media-archive/131.JPG"><img src="media-archive/131.JPG" title="Makombeh"/></a></li>
	<li><a href="/media-archive/134.JPG"><img src="media-archive/134.JPG" title="Makombeh"/></a></li>
	<li><a href="/media-archive/148.JPG"><img src="media-archive/148.JPG" title="Makombeh"/></a></li>
	<li><a href="/media-archive/reading-child.jpg"><img src="media-archive/reading-child.jpg" title="Lezend kind"/></a></li>
	<li><a href="/media-archive/reunie.jpg"><img src="media-archive/reunie.jpg" title="Reunie"/></a></li>
	<li><a href="/media-archive/reunie-2.jpg"><img src="media-archive/reunie-2.jpg" title="Reunie"/></a></li>
	<li><a href="/media-archive/child-from-above.jpg"><img src="media-archive/child-from-above.jpg" title="Kindje"/></a></li>
	<li><a href="/media-archive/IMGP0328.JPG"><img src="media-archive/IMGP0328.JPG" title="Makombeh"/></a></li>
	<li><a href="/media-archive/teacher-board.jpg"><img src="media-archive/teacher-board.jpg" title="Makombeh"/></a></li>
</ul>
