<footer id="appendix" class="release">
	<img id="footer-image" src="{{ site.baseurl }}/media/children.png" alt="Children" />
	<img id="children-foreground" src="{{ site.baseurl }}/media/children-foreground.png" alt="Children" />
	<img class="balloon" id="balloon-1" src="{{ site.baseurl }}/media/balloon-1.png" alt="Ballon" />
	<img class="balloon" id="balloon-2" src="{{ site.baseurl }}/media/balloon-2.png" alt="Ballon" />
	<img class="balloon" id="balloon-3" src="{{ site.baseurl }}/media/balloon-3.png" alt="Ballon" />
	<img class="balloon" id="balloon-4" src="{{ site.baseurl }}/media/balloon-4.png" alt="Ballon" />
	<img class="balloon" id="balloon-5" src="{{ site.baseurl }}/media/balloon-5.png" alt="Ballon" />
	<img class="balloon" id="balloon-6" src="{{ site.baseurl }}/media/balloon-6.png" alt="Ballon" />
	<img class="balloon" id="balloon-7" src="{{ site.baseurl }}/media/balloon-7.png" alt="Ballon" />
	<p class="pat-bumper" data-pat-bumper="selector: #appendix">
		<a href="https://www.facebook.com/stichtingmakombeh">Facebook</a> | Website door <a href="http://www.cornae.com">Cornelis Kolbach</a> met <a href="http://www.patternslib.com">Patterns</a>
	</p>
</footer>