<footer id="appendix" class="release">
	<img id="footer-image" src="/media/children.png" alt="Children" />
	<img id="children-foreground" src="/media/children-foreground.png" alt="Children" />
	<img class="balloon" id="balloon-1" src="/media/balloon-1.png" alt="Ballon" />
	<img class="balloon" id="balloon-2" src="/media/balloon-2.png" alt="Ballon" />
	<img class="balloon" id="balloon-3" src="/media/balloon-3.png" alt="Ballon" />
	<img class="balloon" id="balloon-4" src="/media/balloon-4.png" alt="Ballon" />
	<img class="balloon" id="balloon-5" src="/media/balloon-5.png" alt="Ballon" />
	<img class="balloon" id="balloon-6" src="/media/balloon-6.png" alt="Ballon" />
	<img class="balloon" id="balloon-7" src="/media/balloon-7.png" alt="Ballon" />
	<p>
		<a href="https://www.facebook.com/stichtingmakombeh">Facebook</a> | Website door <a href="http://www.cornae.com">Cornelis Kolbach</a> met <a href="http://www.patternslib.com">Patterns</a>
	</p>
</footer>