#ankeiler {
	position: absolute;
  	top: 42px;
	left: 26%;
	z-index: 10;

	@include screen-size(small) {
		top: 33px;
	}

  	h1 {
  		color: white;

  		@include screen-size(small) {
			font-size: 1em;
  		}
  	}

	h2 {
		margin-top: 0;
		font-weight: 200;
		font-size: 1em;
		line-height: 1.8em;
	}


      
}